@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500;600&display=swap');


.container {
    /* background: #e2c5c5; */
    min-height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}


.t {
    display: flex;
    justify-content: center;
    align-items: center;
}

.t .t-inside {
    /* width: 1100px; */
    background: #fff;
    border-radius: 20px;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}

.form {
    /* width: 420px; */
    border: #dddcdc .2px solid;
    border-radius: 10px;
    padding: 1rem 1rem;
    margin: 1rem;

    

    /* box-shadow: 0 0 10px #c2c1c1; */
}

.form .form-row {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    align-items: start;
    gap: 30px;
}

.form .form-row .form-error {
    display: none;
}

.form .form-row .form-error span {
    display: block;
    color: rgb(248, 114, 114);
    font-size: 14px;
    padding-left: 10px;
    /* font-weight: 300; */
}

.form h1 {
    /* text-align: center; */
    color: #034f84;
    font-size: 32px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: .6rem;
    /* flex-wrap: wrap; */
    /* width: 100%; */
}

.input-group label {
    width: 200px;
    font-size: 15px;
    font-weight: 400;
    padding-left: 3px;
    /* border-left: #c2c1c1 2px solid; */
    color: #989898;
    text-transform: capitalize;
}

.input-group input {
    /* width: 100%; */

    border: #dddcdc 1px solid;
    border-radius: 5px;

    padding: .4rem .5rem;
    /* font-size: 20px; */
    font-family: 'Noto Sans JP', sans-serif;
}

.input-group input:focus {
    outline: none;
}

.submit-group {
    display: flex;
    justify-content: flex-start;
}

.submit-group button {
    border: 0;
    font-size: 20px;
    border-radius: 5px;
    padding: 12px 24px;
    color:#fff;
    background:#034f84;
    
    cursor: pointer;

    transition: transform 0.3s ease;
}

.submit-group button:hover {
    transform: translateX(-5px);
}

.container .move-btn {
    padding: 12px;
    border-radius: 20px;
}

.container .move-text {
    display: block;
    transition: transform 0.6s ease-in-out;
}

.container .move-text.active {
    transform: translateX(100px);
}